<!DOCTYPE html>
<html lang="en">

<head>
    <title>หลักสูตร AI Level 3</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <style>
        .list-group-item {
            width: 95%;
            margin: 1% !important;
        }

        @media (min-width: 576px) {
            .list-group-item {
                width: 47%;
                margin: 5px 1.5% !important;
            }
        }

        @media (min-width: 768px) {
            .list-group-item {
                width: 31.333%;
                margin: 5px 1% !important;
            }
        }

        @media (min-width: 992px) {
            .list-group-item {
                width: 23%;
                margin: 5px 1% !important;
            }
        }
    </style>
</head>

<body>
    <div class="jumbotron text-center">
        <h1>กิจกรรมหลักสูตร AI Level 3</h1>
        <p>จัดทำโดย สสวท.</p>
    </div>

    <div class="container">
        <section>
            <h2 class="h3 pb-2 font-weight-normal border-bottom">ต้นไม้ตัดสินใจ</h2>
            <ul class="list-group list-group-horizontal align-items-stretch flex-wrap">
                <li class="list-group-item border-0">
                    <div class="card my-3">
                        <img src="{{url_for('static', filename='hyperparam.png')}}" class="card-img-top">
                        <div class="card-body">
                            <h4 class="card-title">กิจกรรม 3</h4>
                            <p class="card-text">การปรับไฮเปอร์พารามิเตอร์ ส่งผลอะไรต่อต้นไม้ตัดสินใจ</p>
                            <a href="/hyperparameters/" class="btn btn-primary" role="button" aria-pressed="true">ทำกิจกรรม</a>
                        </div>
                    </div>
                </li>
            </ul>
        </section>
    </div>

    <div class="container">
        <section>
            <h2 class="h3 pb-2 font-weight-normal border-bottom">ผลกระทบของข้อมูลต่อโมเดล</h2>
            <ul class="list-group list-group-horizontal align-items-stretch flex-wrap">
                <li class="list-group-item border-0">
                    <div class="card my-3">
                        <img src="{{url_for('static', filename='samplingbias.png')}}" class="card-img-top">
                        <div class="card-body">
                            <h4 class="card-title">กิจกรรมที่ 1</h4>
                            <p class="card-text">อคติในการเลือกตัวอย่าง (Sampling Bias)
                                ให้นักเรียนลองเลือกข้อมูลมาเพียงบางส่วน
                                แล้วดูว่าโมเดลที่ได้ต่างจากการใช้ข้อมูลทั้งหมดมากน้อยแค่ไหน</p>
                            <a href="/samplingbias/" class="btn btn-primary" role="button" aria-pressed="true">ทำกิจกรรม</a>
                        </div>
                    </div>
                </li>
                <li class="list-group-item border-0">
                    <div class="card my-3">
                        <img src="{{url_for('static', filename='imbalanceddata.png')}}" class="card-img-top">
                        <div class="card-body">
                            <h4 class="card-title">กิจกรรมที่ 2</h4>
                            <p class="card-text">จำนวนข้อมูลที่ไม่สมดุลกัน (Imbalanced Data) ให้นักเรียนลองใช้เทคนิค
                                1) การสุ่มข้อมูลจากกลุ่มหลักให้มีน้อยลง และ
                                2) การสร้างข้อมูลของกลุ่มย่อยให้มีมากขึ้น</p>
                            <a href="/imbalanceddata/" class="btn btn-primary" role="button" aria-pressed="true">ทำกิจกรรม</a>
                        </div>
                    </div>
                </li>
                <li class="list-group-item border-0">
                    <div class="card my-3">
                        <img src="{{url_for('static', filename='classoverfit.png')}}" class="card-img-top">
                        <div class="card-body">
                            <h4 class="card-title">กิจกรรมที่ 3</h4>
                            <p class="card-text">โมเดลที่เฉพาะเจาะจงเกินไป VS โมเดลที่ง่ายเกินไป สำหรับการจำแนก</p>
                            <a href="/overfitting_class/" class="btn btn-primary" role="button" aria-pressed="true">ทำกิจกรรม</a>
                        </div>
                    </div>
                </li>
                <li class="list-group-item border-0">
                    <div class="card my-3">
                        <img src="{{url_for('static', filename='regoverfit.png')}}" class="card-img-top">
                        <div class="card-body">
                            <h4 class="card-title">กิจกรรมที่ 4</h4>
                            <p class="card-text">โมเดลที่เฉพาะเจาะจงเกินไป VS โมเดลที่ง่ายเกินไป สำหรับการถดถอย</p>
                            <a href="/overfitting_regress/" class="btn btn-primary" role="button" aria-pressed="true">ทำกิจกรรม</a>
                        </div>
                    </div>
                </li>
            </ul>
        </section>
    </div>

</body>

</html>